.gradient-custom {
  /* fallback for old browsers */
  background: rgba(150, 146, 146, 0.604);
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(150, 146, 146, 0.604), rgba(150, 146, 146, 0.604));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(150, 146, 146, 0.604), rgba(150, 146, 146, 0.604));
}


html, body {
  overflow: auto;
}


.problem-box {
  background-color: #f8f9fa; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 8px; /* Rounded borders */
  padding: 10px 15px; /* Padding inside the box */
  cursor: pointer; /* Pointer cursor to indicate it's clickable */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.problem-box:hover {
  background-color: #e9ecef; /* Slightly darker grey on hover */
}

.d-flex .align-items-center .problem-box {
  text-align: left; /* Align text to the left */
  color: black; /* Ensure text color is black */
}